In [1]:
cd

/Users/karan

In [2]:
%cd /Users/karan/Downloads

/Users/karan/Downloads

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('Dataset2.csv')

In [5]:
df

,Customer_id,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,...,age,other_payment_plans,housing,bureau_score,job,num_dependents,own_telephone,foreign_worker,Spend_debit_card,class
0,1,<0,19,critical/other existing credit,business,640,<100,unemployed,1,male div/sep,...,22,stores,for free,110,unemp/unskilled non res,9,yes,no,3463,bad
1,2,<0,60,existing paid,business,903,<100,1<=X<4,2,male div/sep,...,25,bank,for free,400,unemp/unskilled non res,3,none,yes,1048,good
2,3,<0,72,critical/other existing credit,business,523,<100,1<=X<4,2,male div/sep,...,24,bank,for free,190,unemp/unskilled non res,13,none,no,357,bad
3,4,<0,55,existing paid,business,605,<100,4<=X<7,2,male div/sep,...,30,none,for free,320,skilled,1,none,yes,1296,bad
4,5,<0,67,delayed previously,business,709,<100,1<=X<4,2,male div/sep,...,30,stores,for free,170,unskilled resident,4,yes,no,1015,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5045,5046,no checking,17,all paid,used car,656,no known savings,<1,4,male single,...,47,none,rent,260,unemp/unskilled non res,2,none,no,502,good
5046,5047,no checking,42,all paid,used car,1618,500<=X<1000,unemployed,4,male div/sep,...,40,stores,rent,330,skilled,5,yes,no,1747,good
5047,5048,no checking,42,critical/other existing credit,used car,17037,500<=X<1000,4<=X<7,1,male single,...,45,none,rent,450,unskilled resident,14,yes,no,3386,good
5048,5049,no checking,14,no credits/all paid,used car,15007,<100,1<=X<4,2,male single,...,25,bank,rent,290,unemp/unskilled non res,5,yes,no,3570,good
5049,5050,no checking,27,all paid,used car,991,100<=X<500,>=7,1,male div/sep,...,67,stores,rent,200,high qualif/self emp/mgmt,1,yes,no,1549,good

In [6]:
df.columns

Index(['Customer_id', 'checking_status', 'duration', 'credit_history',
       'purpose', 'credit_amount', 'savings_status', 'employment',
       'installment_commitment', 'personal_status', 'other_parties',
       'residence_since', 'property_magnitude', 'age', 'other_payment_plans',
       'housing', 'bureau_score', 'job', 'num_dependents', 'own_telephone',
       'foreign_worker', 'Spend_debit_card', 'class'],
      dtype='object')

In [7]:
df.dtypes

Customer_id                int64
checking_status           object
duration                   int64
credit_history            object
purpose                   object
credit_amount              int64
savings_status            object
employment                object
installment_commitment     int64
personal_status           object
other_parties             object
residence_since            int64
property_magnitude        object
age                        int64
other_payment_plans       object
housing                   object
bureau_score               int64
job                       object
num_dependents             int64
own_telephone             object
foreign_worker            object
Spend_debit_card           int64
class                     object
dtype: object

In [8]:
df.head()

,Customer_id,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,...,age,other_payment_plans,housing,bureau_score,job,num_dependents,own_telephone,foreign_worker,Spend_debit_card,class
0,1,<0,19,critical/other existing credit,business,640,<100,unemployed,1,male div/sep,...,22,stores,for free,110,unemp/unskilled non res,9,yes,no,3463,bad
1,2,<0,60,existing paid,business,903,<100,1<=X<4,2,male div/sep,...,25,bank,for free,400,unemp/unskilled non res,3,none,yes,1048,good
2,3,<0,72,critical/other existing credit,business,523,<100,1<=X<4,2,male div/sep,...,24,bank,for free,190,unemp/unskilled non res,13,none,no,357,bad
3,4,<0,55,existing paid,business,605,<100,4<=X<7,2,male div/sep,...,30,none,for free,320,skilled,1,none,yes,1296,bad
4,5,<0,67,delayed previously,business,709,<100,1<=X<4,2,male div/sep,...,30,stores,for free,170,unskilled resident,4,yes,no,1015,bad

In [9]:
pd.set_option('display.max_columns', None)

In [10]:
df.head()

,Customer_id,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,residence_since,property_magnitude,age,other_payment_plans,housing,bureau_score,job,num_dependents,own_telephone,foreign_worker,Spend_debit_card,class
0,1,<0,19,critical/other existing credit,business,640,<100,unemployed,1,male div/sep,co applicant,1,life insurance,22,stores,for free,110,unemp/unskilled non res,9,yes,no,3463,bad
1,2,<0,60,existing paid,business,903,<100,1<=X<4,2,male div/sep,co applicant,2,real estate,25,bank,for free,400,unemp/unskilled non res,3,none,yes,1048,good
2,3,<0,72,critical/other existing credit,business,523,<100,1<=X<4,2,male div/sep,co applicant,2,life insurance,24,bank,for free,190,unemp/unskilled non res,13,none,no,357,bad
3,4,<0,55,existing paid,business,605,<100,4<=X<7,2,male div/sep,co applicant,4,life insurance,30,none,for free,320,skilled,1,none,yes,1296,bad
4,5,<0,67,delayed previously,business,709,<100,1<=X<4,2,male div/sep,co applicant,3,no known property,30,stores,for free,170,unskilled resident,4,yes,no,1015,bad

In [11]:
df.drop(columns='Customer_id', axis=1,inplace=True)

In [12]:
str_col = df.select_dtypes(include=['object']).columns
list(str_col)

['checking_status',
 'credit_history',
 'purpose',
 'savings_status',
 'employment',
 'personal_status',
 'other_parties',
 'property_magnitude',
 'other_payment_plans',
 'housing',
 'job',
 'own_telephone',
 'foreign_worker',
 'class']

In [13]:
df[str_col]

,checking_status,credit_history,purpose,savings_status,employment,personal_status,other_parties,property_magnitude,other_payment_plans,housing,job,own_telephone,foreign_worker,class
0,<0,critical/other existing credit,business,<100,unemployed,male div/sep,co applicant,life insurance,stores,for free,unemp/unskilled non res,yes,no,bad
1,<0,existing paid,business,<100,1<=X<4,male div/sep,co applicant,real estate,bank,for free,unemp/unskilled non res,none,yes,good
2,<0,critical/other existing credit,business,<100,1<=X<4,male div/sep,co applicant,life insurance,bank,for free,unemp/unskilled non res,none,no,bad
3,<0,existing paid,business,<100,4<=X<7,male div/sep,co applicant,life insurance,none,for free,skilled,none,yes,bad
4,<0,delayed previously,business,<100,1<=X<4,male div/sep,co applicant,no known property,stores,for free,unskilled resident,yes,no,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5045,no checking,all paid,used car,no known savings,<1,male single,none,life insurance,none,rent,unemp/unskilled non res,none,no,good
5046,no checking,all paid,used car,500<=X<1000,unemployed,male div/sep,none,real estate,stores,rent,skilled,yes,no,good
5047,no checking,critical/other existing credit,used car,500<=X<1000,4<=X<7,male single,none,no known property,none,rent,unskilled resident,yes,no,good
5048,no checking,no credits/all paid,used car,<100,1<=X<4,male single,none,no known property,bank,rent,unemp/unskilled non res,yes,no,good
5049,no checking,all paid,used car,100<=X<500,>=7,male div/sep,none,car,stores,rent,high qualif/self emp/mgmt,yes,no,good

In [14]:
df.isna().sum()

checking_status           0
duration                  0
credit_history            0
purpose                   0
credit_amount             0
savings_status            0
employment                0
installment_commitment    0
personal_status           0
other_parties             0
residence_since           0
property_magnitude        0
age                       0
other_payment_plans       0
housing                   0
bureau_score              0
job                       0
num_dependents            0
own_telephone             0
foreign_worker            0
Spend_debit_card          0
class                     0
dtype: int64

In [15]:
print(df.select_dtypes(include=['int', 'float']).info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5050 entries, 0 to 5049
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   duration                5050 non-null   int64
 1   credit_amount           5050 non-null   int64
 2   installment_commitment  5050 non-null   int64
 3   residence_since         5050 non-null   int64
 4   age                     5050 non-null   int64
 5   bureau_score            5050 non-null   int64
 6   num_dependents          5050 non-null   int64
 7   Spend_debit_card        5050 non-null   int64
dtypes: int64(8)
memory usage: 315.8 KB
None

In [16]:
print(df.select_dtypes(include=['int', 'float']).describe())

          duration  credit_amount  installment_commitment  residence_since  \
count  5050.000000    5050.000000             5050.000000      5050.000000
mean     34.799406    6245.153663                2.587921         2.549505
std      19.852475    5651.082825                1.138416         1.119351
min       4.000000     250.000000                1.000000         1.000000
25%      18.000000     955.250000                2.000000         2.000000
50%      33.000000    4277.500000                3.000000         3.000000
75%      51.000000   10866.000000                4.000000         4.000000
max      72.000000   18424.000000                4.000000         4.000000

               age  bureau_score  num_dependents  Spend_debit_card
count  5050.000000   5050.000000     5050.000000       5050.000000
mean     44.785545    200.471287        6.239208       2507.577624
std      16.413567    155.330759        4.427874       1462.481192
min      19.000000     10.000000        1.000000        -50.000000
25%      30.000000     40.000000        2.000000       1225.000000
50%      43.000000    190.000000        6.000000       2532.500000
75%      59.000000    340.000000       10.000000       3762.750000
max      75.000000    480.000000       14.000000       5000.000000

In [17]:
print(df.select_dtypes(include=['object']).nunique())

checking_status         4
credit_history          5
purpose                10
savings_status          5
employment              5
personal_status         4
other_parties           3
property_magnitude      4
other_payment_plans     3
housing                 3
job                     4
own_telephone           2
foreign_worker          2
class                   2
dtype: int64

In [18]:
for col in df.select_dtypes(include=['object']):
    print(f"{col}:",dict(df[col].value_counts()),'\n')

checking_status: {'>=200': 1621, 'no checking': 1548, '0<=X<200': 1301, '<0': 580}

credit_history: {'no credits/all paid': 1209, 'critical/other existing credit': 1206, 'existing paid': 1155, 'delayed previously': 784, 'all paid': 696}

purpose: {'business': 768, 'new car': 664, 'furniture/equipment': 585, 'other': 529, 'used car': 506, 'education': 481, 'repairs': 420, 'domestic appliance': 413, 'retraining': 396, 'radio/tv': 288}

savings_status: {'<100': 1792, '500<=X<1000': 1357, '100<=X<500': 838, '>=1000': 711, 'no known savings': 352}

employment: {'1<=X<4': 1169, '>=7': 1072, '<1': 1023, '4<=X<7': 930, 'unemployed': 856}

personal_status: {'male div/sep': 2048, 'male single': 1568, 'male mar/wid': 1124, 'female div/dep/mar': 310}

other_parties: {'none': 2214, 'co applicant': 1439, 'guarantor': 1397}

property_magnitude: {'car': 1349, 'real estate': 1342, 'life insurance': 1215, 'no known property': 1144}

other_payment_plans: {'none': 2174, 'bank': 1459, 'stores': 1417}

housing: {'own': 2027, 'rent': 1578, 'for free': 1445}

job: {'skilled': 1667, 'unskilled resident': 1204, 'high qualif/self emp/mgmt': 1164, 'unemp/unskilled non res': 1015}

own_telephone: {'none': 2582, 'yes': 2468}

foreign_worker: {'yes': 2955, 'no': 2095}

class: {'good': 3204, 'bad': 1846}

In [19]:
int_col = df.select_dtypes(include=['int64']).columns
list(int_col)

['duration',
 'credit_amount',
 'installment_commitment',
 'residence_since',
 'age',
 'bureau_score',
 'num_dependents',
 'Spend_debit_card']

In [20]:
df.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,residence_since,property_magnitude,age,other_payment_plans,housing,bureau_score,job,num_dependents,own_telephone,foreign_worker,Spend_debit_card,class
0,<0,19,critical/other existing credit,business,640,<100,unemployed,1,male div/sep,co applicant,1,life insurance,22,stores,for free,110,unemp/unskilled non res,9,yes,no,3463,bad
1,<0,60,existing paid,business,903,<100,1<=X<4,2,male div/sep,co applicant,2,real estate,25,bank,for free,400,unemp/unskilled non res,3,none,yes,1048,good
2,<0,72,critical/other existing credit,business,523,<100,1<=X<4,2,male div/sep,co applicant,2,life insurance,24,bank,for free,190,unemp/unskilled non res,13,none,no,357,bad
3,<0,55,existing paid,business,605,<100,4<=X<7,2,male div/sep,co applicant,4,life insurance,30,none,for free,320,skilled,1,none,yes,1296,bad
4,<0,67,delayed previously,business,709,<100,1<=X<4,2,male div/sep,co applicant,3,no known property,30,stores,for free,170,unskilled resident,4,yes,no,1015,bad

In [21]:
outliers = {}
for column in df.columns:
    if df[column].dtype != 'object':
        Q1 = df[column].quantile(0.25)
        Q3 = df[column].quantile(0.75)
        IQR = Q3 - Q1
        lower_threshold = Q1 - 1.5 * IQR
        upper_threshold = Q3 + 1.5 * IQR
        outliers[column] = df[(df[column] < lower_threshold) | (df[column] > upper_threshold)][column].tolist()

In [22]:
print("Outliers:\n", outliers)

Outliers:
 {'duration': [], 'credit_amount': [], 'installment_commitment': [], 'residence_since': [], 'age': [], 'bureau_score': [], 'num_dependents': [], 'Spend_debit_card': []}

In [23]:
int_col = df.select_dtypes(include=['int64']).columns
list(int_col)

['duration',
 'credit_amount',
 'installment_commitment',
 'residence_since',
 'age',
 'bureau_score',
 'num_dependents',
 'Spend_debit_card']

In [24]:
from sklearn.preprocessing import MinMaxScaler

In [25]:
scaler = MinMaxScaler()

In [26]:
scaler.fit(df[int_col])

MinMaxScaler()

In [27]:
normalized_data = scaler.transform(df[int_col])

In [28]:
normalized_data

array([[0.22058824, 0.02145923, 0.        , ..., 0.21276596, 0.61538462,
        0.69564356],
       [0.82352941, 0.03593045, 0.33333333, ..., 0.82978723, 0.15384615,
        0.21742574],
       [1.        , 0.01502146, 0.33333333, ..., 0.38297872, 0.92307692,
        0.08059406],
       ...,
       [0.55882353, 0.92368218, 0.        , ..., 0.93617021, 1.        ,
        0.68039604],
       [0.14705882, 0.81198415, 0.33333333, ..., 0.59574468, 0.30769231,
        0.71683168],
       [0.33823529, 0.04077253, 0.        , ..., 0.40425532, 0.        ,
        0.31663366]])

In [29]:
df_normalized = pd.DataFrame(normalized_data)

In [30]:
df_normalized

,0,1,2,3,4,5,6,7
0,0.220588,0.021459,0.000000,0.000000,0.053571,0.212766,0.615385,0.695644
1,0.823529,0.035930,0.333333,0.333333,0.107143,0.829787,0.153846,0.217426
2,1.000000,0.015021,0.333333,0.333333,0.089286,0.382979,0.923077,0.080594
3,0.750000,0.019533,0.333333,1.000000,0.196429,0.659574,0.000000,0.266535
4,0.926471,0.025256,0.333333,0.666667,0.196429,0.340426,0.230769,0.210891
...,...,...,...,...,...,...,...,...
5045,0.191176,0.022340,1.000000,0.000000,0.500000,0.531915,0.076923,0.109307
5046,0.558824,0.075272,1.000000,0.333333,0.375000,0.680851,0.307692,0.355842
5047,0.558824,0.923682,0.000000,1.000000,0.464286,0.936170,1.000000,0.680396
5048,0.147059,0.811984,0.333333,0.333333,0.107143,0.595745,0.307692,0.716832
5049,0.338235,0.040773,0.000000,0.000000,0.857143,0.404255,0.000000,0.316634

In [31]:
df_normalized.columns = int_col

In [32]:
df_normalized

,duration,credit_amount,installment_commitment,residence_since,age,bureau_score,num_dependents,Spend_debit_card
0,0.220588,0.021459,0.000000,0.000000,0.053571,0.212766,0.615385,0.695644
1,0.823529,0.035930,0.333333,0.333333,0.107143,0.829787,0.153846,0.217426
2,1.000000,0.015021,0.333333,0.333333,0.089286,0.382979,0.923077,0.080594
3,0.750000,0.019533,0.333333,1.000000,0.196429,0.659574,0.000000,0.266535
4,0.926471,0.025256,0.333333,0.666667,0.196429,0.340426,0.230769,0.210891
...,...,...,...,...,...,...,...,...
5045,0.191176,0.022340,1.000000,0.000000,0.500000,0.531915,0.076923,0.109307
5046,0.558824,0.075272,1.000000,0.333333,0.375000,0.680851,0.307692,0.355842
5047,0.558824,0.923682,0.000000,1.000000,0.464286,0.936170,1.000000,0.680396
5048,0.147059,0.811984,0.333333,0.333333,0.107143,0.595745,0.307692,0.716832
5049,0.338235,0.040773,0.000000,0.000000,0.857143,0.404255,0.000000,0.316634

In [33]:
corr_matrix = df_normalized.corr()

In [34]:
corr_matrix

,duration,credit_amount,installment_commitment,residence_since,age,bureau_score,num_dependents,Spend_debit_card
duration,1.000000,0.134198,-0.061848,-0.032437,0.083673,0.207766,0.186607,0.004998
credit_amount,0.134198,1.000000,-0.075924,0.000510,0.085647,0.156032,0.140565,0.015660
installment_commitment,-0.061848,-0.075924,1.000000,0.025571,-0.031685,-0.083196,-0.097923,-0.006777
residence_since,-0.032437,0.000510,0.025571,1.000000,-0.016288,-0.077811,-0.067326,-0.003770
age,0.083673,0.085647,-0.031685,-0.016288,1.000000,0.174350,0.155976,0.030971
bureau_score,0.207766,0.156032,-0.083196,-0.077811,0.174350,1.000000,0.343570,0.007420
num_dependents,0.186607,0.140565,-0.097923,-0.067326,0.155976,0.343570,1.000000,-0.002990
Spend_debit_card,0.004998,0.015660,-0.006777,-0.003770,0.030971,0.007420,-0.002990,1.000000

In [35]:
from scipy.stats import chi2_contingency

In [36]:
for column in str_col:
    contingency_table = pd.crosstab(df[column], df['class']).values
    chi2_stat, p_value, dof, expected_freq = chi2_contingency(contingency_table)
    print(f"Contingency table for {column}:")
    print(pd.crosstab(df[column], df['class']))
    print(f"Chi-squared test results: chi2_stat={chi2_stat}, p_value={p_value}, dof={dof}, expected_freq={expected_freq}")

Contingency table for checking_status:
class            bad  good
checking_status
0<=X<200         510   791
<0               229   351
>=200            608  1013
no checking      499  1049
Chi-squared test results: chi2_stat=19.160125777979516, p_value=0.00025332730024232636, dof=3, expected_freq=[[ 475.57346535  825.42653465]
 [ 212.01584158  367.98415842]
 [ 592.54772277 1028.45227723]
 [ 565.8629703   982.1370297 ]]
Contingency table for credit_history:
class                           bad  good
credit_history
all paid                        280   416
critical/other existing credit  417   789
delayed previously              277   507
existing paid                   401   754
no credits/all paid             471   738
Chi-squared test results: chi2_stat=11.282169944821556, p_value=0.023569315047435927, dof=4, expected_freq=[[254.4190099  441.5809901 ]
 [440.84673267 765.15326733]
 [286.58693069 497.41306931]
 [422.2039604  732.7960396 ]
 [441.94336634 767.05663366]]
Contingency table for purpose:
class                bad  good
purpose
business             301   467
domestic appliance   161   252
education            196   285
furniture/equipment  173   412
new car              251   413
other                222   307
radio/tv              50   238
repairs              160   260
retraining           148   248
used car             184   322
Chi-squared test results: chi2_stat=72.72189585144534, p_value=4.4448310115842605e-12, dof=9, expected_freq=[[280.73821782 487.26178218]
 [150.96990099 262.03009901]
 [175.82693069 305.17306931]
 [213.84356436 371.15643564]
 [242.72158416 421.27841584]
 [193.37306931 335.62693069]
 [105.27683168 182.72316832]
 [153.52871287 266.47128713]
 [144.75564356 251.24435644]
 [184.96554455 321.03445545]]
Contingency table for savings_status:
class             bad  good
savings_status
100<=X<500        314   524
500<=X<1000       518   839
<100              628  1164
>=1000            295   416
no known savings   91   261
Chi-squared test results: chi2_stat=28.450410023987818, p_value=1.0107298887280499e-05, dof=4, expected_freq=[[ 306.32633663  531.67366337]
 [ 496.0439604   860.9560396 ]
 [ 655.05584158 1136.94415842]
 [ 259.90217822  451.09782178]
 [ 128.67168317  223.32831683]]
Contingency table for employment:
class       bad  good
employment
1<=X<4      407   762
4<=X<7      336   594
<1          384   639
>=7         392   680
unemployed  327   529
Chi-squared test results: chi2_stat=3.0219557579704976, p_value=0.5541579034923946, dof=4, expected_freq=[[427.32158416 741.67841584]
 [339.95643564 590.04356436]
 [373.95207921 649.04792079]
 [391.86376238 680.13623762]
 [312.90613861 543.09386139]]
Contingency table for personal_status:
class               bad  good
personal_status
female div/dep/mar   78   232
male div/sep        809  1239
male mar/wid        435   689
male single         524  1044
Chi-squared test results: chi2_stat=33.904751516508085, p_value=2.0750685304818207e-07, dof=3, expected_freq=[[ 113.31881188  196.68118812]
 [ 748.63524752 1299.36475248]
 [ 410.87207921  713.12792079]
 [ 573.17386139  994.82613861]]
Contingency table for other_parties:
class          bad  good
other_parties
co applicant   570   869
guarantor      563   834
none           713  1501
Chi-squared test results: chi2_stat=32.31607562468987, p_value=9.608450114883354e-08, dof=2, expected_freq=[[ 526.01861386  912.98138614]
 [ 510.66574257  886.33425743]
 [ 809.31564356 1404.68435644]]
Contingency table for property_magnitude:
class               bad  good
property_magnitude
car                 490   859
life insurance      467   748
no known property   438   706
real estate         451   891
Chi-squared test results: chi2_stat=8.394820873299642, p_value=0.038519219930829345, dof=3, expected_freq=[[493.11960396 855.88039604]
 [444.13663366 770.86336634]
 [418.1829703  725.8170297 ]
 [490.56079208 851.43920792]]
Contingency table for other_payment_plans:
class                bad  good
other_payment_plans
bank                 562   897
none                 722  1452
stores               562   855
Chi-squared test results: chi2_stat=18.807386220746647, p_value=8.241911989758765e-05, dof=2, expected_freq=[[ 533.32950495  925.67049505]
 [ 794.69386139 1379.30613861]
 [ 517.97663366  899.02336634]]
Contingency table for housing:
class     bad  good
housing
for free  563   882
own       666  1361
rent      617   961
Chi-squared test results: chi2_stat=19.97277878559615, p_value=4.6022074654087166e-05, dof=2, expected_freq=[[ 528.21188119  916.78811881]
 [ 740.95881188 1286.04118812]
 [ 576.82930693 1001.17069307]]
Contingency table for job:
class                      bad  good
job
high qualif/self emp/mgmt  434   730
skilled                    552  1115
unemp/unskilled non res    413   602
unskilled resident         447   757
Chi-squared test results: chi2_stat=16.432524323839516, p_value=0.0009244197265151703, dof=3, expected_freq=[[ 425.49386139  738.50613861]
 [ 609.36277228 1057.63722772]
 [ 371.02772277  643.97227723]
 [ 440.11564356  763.88435644]]
Contingency table for own_telephone:
class          bad  good
own_telephone
none           949  1633
yes            897  1571
Chi-squared test results: chi2_stat=0.07432899228262334, p_value=0.7851350044146465, dof=1, expected_freq=[[ 943.8360396 1638.1639604]
 [ 902.1639604 1565.8360396]]
Contingency table for foreign_worker:
class            bad  good
foreign_worker
no               816  1279
yes             1030  1925
Chi-squared test results: chi2_stat=8.682490032619619, p_value=0.0032128173260537805, dof=1, expected_freq=[[ 765.81584158 1329.18415842]
 [1080.18415842 1874.81584158]]
Contingency table for class:
class   bad  good
class
bad    1846     0
good      0  3204
Chi-squared test results: chi2_stat=5045.689120933406, p_value=0.0, dof=1, expected_freq=[[ 674.79524752 1171.20475248]
 [1171.20475248 2032.79524752]]

In [37]:
df1= df[str_col].drop('class',axis =1)

In [38]:
df1

,checking_status,credit_history,purpose,savings_status,employment,personal_status,other_parties,property_magnitude,other_payment_plans,housing,job,own_telephone,foreign_worker
0,<0,critical/other existing credit,business,<100,unemployed,male div/sep,co applicant,life insurance,stores,for free,unemp/unskilled non res,yes,no
1,<0,existing paid,business,<100,1<=X<4,male div/sep,co applicant,real estate,bank,for free,unemp/unskilled non res,none,yes
2,<0,critical/other existing credit,business,<100,1<=X<4,male div/sep,co applicant,life insurance,bank,for free,unemp/unskilled non res,none,no
3,<0,existing paid,business,<100,4<=X<7,male div/sep,co applicant,life insurance,none,for free,skilled,none,yes
4,<0,delayed previously,business,<100,1<=X<4,male div/sep,co applicant,no known property,stores,for free,unskilled resident,yes,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5045,no checking,all paid,used car,no known savings,<1,male single,none,life insurance,none,rent,unemp/unskilled non res,none,no
5046,no checking,all paid,used car,500<=X<1000,unemployed,male div/sep,none,real estate,stores,rent,skilled,yes,no
5047,no checking,critical/other existing credit,used car,500<=X<1000,4<=X<7,male single,none,no known property,none,rent,unskilled resident,yes,no
5048,no checking,no credits/all paid,used car,<100,1<=X<4,male single,none,no known property,bank,rent,unemp/unskilled non res,yes,no
5049,no checking,all paid,used car,100<=X<500,>=7,male div/sep,none,car,stores,rent,high qualif/self emp/mgmt,yes,no

In [40]:
str1_col = df1.columns

In [41]:
one_hot_encoded_df = pd.get_dummies(df1, columns=str1_col)

In [42]:
one_hot_encoded_df.shape

(5050, 54)

In [43]:
one_hot_encoded_df.dtypes

checking_status_0<=X<200                         uint8
checking_status_<0                               uint8
checking_status_>=200                            uint8
checking_status_no checking                      uint8
credit_history_all paid                          uint8
credit_history_critical/other existing credit    uint8
credit_history_delayed previously                uint8
credit_history_existing paid                     uint8
credit_history_no credits/all paid               uint8
purpose_business                                 uint8
purpose_domestic appliance                       uint8
purpose_education                                uint8
purpose_furniture/equipment                      uint8
purpose_new car                                  uint8
purpose_other                                    uint8
purpose_radio/tv                                 uint8
purpose_repairs                                  uint8
purpose_retraining                               uint8
purpose_used car                                 uint8
savings_status_100<=X<500                        uint8
savings_status_500<=X<1000                       uint8
savings_status_<100                              uint8
savings_status_>=1000                            uint8
savings_status_no known savings                  uint8
employment_1<=X<4                                uint8
employment_4<=X<7                                uint8
employment_<1                                    uint8
employment_>=7                                   uint8
employment_unemployed                            uint8
personal_status_female div/dep/mar               uint8
personal_status_male div/sep                     uint8
personal_status_male mar/wid                     uint8
personal_status_male single                      uint8
other_parties_co applicant                       uint8
other_parties_guarantor                          uint8
other_parties_none                               uint8
property_magnitude_car                           uint8
property_magnitude_life insurance                uint8
property_magnitude_no known property             uint8
property_magnitude_real estate                   uint8
other_payment_plans_bank                         uint8
other_payment_plans_none                         uint8
other_payment_plans_stores                       uint8
housing_for free                                 uint8
housing_own                                      uint8
housing_rent                                     uint8
job_high qualif/self emp/mgmt                    uint8
job_skilled                                      uint8
job_unemp/unskilled non res                      uint8
job_unskilled resident                           uint8
own_telephone_none                               uint8
own_telephone_yes                                uint8
foreign_worker_no                                uint8
foreign_worker_yes                               uint8
dtype: object

In [44]:
one_hot_encoded_df

,checking_status_0<=X<200,checking_status_<0,checking_status_>=200,checking_status_no checking,credit_history_all paid,credit_history_critical/other existing credit,credit_history_delayed previously,credit_history_existing paid,credit_history_no credits/all paid,purpose_business,purpose_domestic appliance,purpose_education,purpose_furniture/equipment,purpose_new car,purpose_other,purpose_radio/tv,purpose_repairs,purpose_retraining,purpose_used car,savings_status_100<=X<500,savings_status_500<=X<1000,savings_status_<100,savings_status_>=1000,savings_status_no known savings,employment_1<=X<4,employment_4<=X<7,employment_<1,employment_>=7,employment_unemployed,personal_status_female div/dep/mar,personal_status_male div/sep,personal_status_male mar/wid,personal_status_male single,other_parties_co applicant,other_parties_guarantor,other_parties_none,property_magnitude_car,property_magnitude_life insurance,property_magnitude_no known property,property_magnitude_real estate,other_payment_plans_bank,other_payment_plans_none,other_payment_plans_stores,housing_for free,housing_own,housing_rent,job_high qualif/self emp/mgmt,job_skilled,job_unemp/unskilled non res,job_unskilled resident,own_telephone_none,own_telephone_yes,foreign_worker_no,foreign_worker_yes
0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,1,0,0,0,0,1,1,0,0,0,0,1,0,0,1,1,0
1,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,1,0,0,1,0,0,0,0,1,0,1,0,0,1
2,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,1,0,1,0
3,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0,1,0,0,1,0,0,1
4,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,1,0,0,0,0,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5045,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0,1,0,0,0,1,0,0,0,1,0,0,1,0,1,0,1,0
5046,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,1,0,0,0,1,1,0
5047,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,1,0,1,1,0
5048,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0,1,0,0,1,1,0
5049,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,1,0,0,0,0,0,1,0,0,1,1,0,0,0,0,1,1,0

In [45]:
final_df = pd.concat([df_normalized , one_hot_encoded_df], axis=1)

In [47]:
final_df

,duration,credit_amount,installment_commitment,residence_since,age,bureau_score,num_dependents,Spend_debit_card,checking_status_0<=X<200,checking_status_<0,checking_status_>=200,checking_status_no checking,credit_history_all paid,credit_history_critical/other existing credit,credit_history_delayed previously,credit_history_existing paid,credit_history_no credits/all paid,purpose_business,purpose_domestic appliance,purpose_education,purpose_furniture/equipment,purpose_new car,purpose_other,purpose_radio/tv,purpose_repairs,purpose_retraining,purpose_used car,savings_status_100<=X<500,savings_status_500<=X<1000,savings_status_<100,savings_status_>=1000,savings_status_no known savings,employment_1<=X<4,employment_4<=X<7,employment_<1,employment_>=7,employment_unemployed,personal_status_female div/dep/mar,personal_status_male div/sep,personal_status_male mar/wid,personal_status_male single,other_parties_co applicant,other_parties_guarantor,other_parties_none,property_magnitude_car,property_magnitude_life insurance,property_magnitude_no known property,property_magnitude_real estate,other_payment_plans_bank,other_payment_plans_none,other_payment_plans_stores,housing_for free,housing_own,housing_rent,job_high qualif/self emp/mgmt,job_skilled,job_unemp/unskilled non res,job_unskilled resident,own_telephone_none,own_telephone_yes,foreign_worker_no,foreign_worker_yes
0,0.220588,0.021459,0.000000,0.000000,0.053571,0.212766,0.615385,0.695644,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,1,0,0,0,0,1,1,0,0,0,0,1,0,0,1,1,0
1,0.823529,0.035930,0.333333,0.333333,0.107143,0.829787,0.153846,0.217426,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,1,0,0,1,0,0,0,0,1,0,1,0,0,1
2,1.000000,0.015021,0.333333,0.333333,0.089286,0.382979,0.923077,0.080594,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,1,0,1,0
3,0.750000,0.019533,0.333333,1.000000,0.196429,0.659574,0.000000,0.266535,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0,1,0,0,1,0,0,1
4,0.926471,0.025256,0.333333,0.666667,0.196429,0.340426,0.230769,0.210891,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,1,0,0,0,0,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5045,0.191176,0.022340,1.000000,0.000000,0.500000,0.531915,0.076923,0.109307,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0,1,0,0,0,1,0,0,0,1,0,0,1,0,1,0,1,0
5046,0.558824,0.075272,1.000000,0.333333,0.375000,0.680851,0.307692,0.355842,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,1,0,0,0,1,1,0
5047,0.558824,0.923682,0.000000,1.000000,0.464286,0.936170,1.000000,0.680396,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,1,0,1,1,0
5048,0.147059,0.811984,0.333333,0.333333,0.107143,0.595745,0.307692,0.716832,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0,1,0,0,1,1,0
5049,0.338235,0.040773,0.000000,0.000000,0.857143,0.404255,0.000000,0.316634,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,1,0,0,0,0,0,1,0,0,1,1,0,0,0,0,1,1,0

In [48]:
df

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,residence_since,property_magnitude,age,other_payment_plans,housing,bureau_score,job,num_dependents,own_telephone,foreign_worker,Spend_debit_card,class
0,<0,19,critical/other existing credit,business,640,<100,unemployed,1,male div/sep,co applicant,1,life insurance,22,stores,for free,110,unemp/unskilled non res,9,yes,no,3463,bad
1,<0,60,existing paid,business,903,<100,1<=X<4,2,male div/sep,co applicant,2,real estate,25,bank,for free,400,unemp/unskilled non res,3,none,yes,1048,good
2,<0,72,critical/other existing credit,business,523,<100,1<=X<4,2,male div/sep,co applicant,2,life insurance,24,bank,for free,190,unemp/unskilled non res,13,none,no,357,bad
3,<0,55,existing paid,business,605,<100,4<=X<7,2,male div/sep,co applicant,4,life insurance,30,none,for free,320,skilled,1,none,yes,1296,bad
4,<0,67,delayed previously,business,709,<100,1<=X<4,2,male div/sep,co applicant,3,no known property,30,stores,for free,170,unskilled resident,4,yes,no,1015,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5045,no checking,17,all paid,used car,656,no known savings,<1,4,male single,none,1,life insurance,47,none,rent,260,unemp/unskilled non res,2,none,no,502,good
5046,no checking,42,all paid,used car,1618,500<=X<1000,unemployed,4,male div/sep,none,2,real estate,40,stores,rent,330,skilled,5,yes,no,1747,good
5047,no checking,42,critical/other existing credit,used car,17037,500<=X<1000,4<=X<7,1,male single,none,4,no known property,45,none,rent,450,unskilled resident,14,yes,no,3386,good
5048,no checking,14,no credits/all paid,used car,15007,<100,1<=X<4,2,male single,none,2,no known property,25,bank,rent,290,unemp/unskilled non res,5,yes,no,3570,good
5049,no checking,27,all paid,used car,991,100<=X<500,>=7,1,male div/sep,none,1,car,67,stores,rent,200,high qualif/self emp/mgmt,1,yes,no,1549,good

In [49]:
final_df2=final_df.copy()

In [50]:
final_df2['class'] = df['class']

In [51]:
final_df2

,duration,credit_amount,installment_commitment,residence_since,age,bureau_score,num_dependents,Spend_debit_card,checking_status_0<=X<200,checking_status_<0,checking_status_>=200,checking_status_no checking,credit_history_all paid,credit_history_critical/other existing credit,credit_history_delayed previously,credit_history_existing paid,credit_history_no credits/all paid,purpose_business,purpose_domestic appliance,purpose_education,purpose_furniture/equipment,purpose_new car,purpose_other,purpose_radio/tv,purpose_repairs,purpose_retraining,purpose_used car,savings_status_100<=X<500,savings_status_500<=X<1000,savings_status_<100,savings_status_>=1000,savings_status_no known savings,employment_1<=X<4,employment_4<=X<7,employment_<1,employment_>=7,employment_unemployed,personal_status_female div/dep/mar,personal_status_male div/sep,personal_status_male mar/wid,personal_status_male single,other_parties_co applicant,other_parties_guarantor,other_parties_none,property_magnitude_car,property_magnitude_life insurance,property_magnitude_no known property,property_magnitude_real estate,other_payment_plans_bank,other_payment_plans_none,other_payment_plans_stores,housing_for free,housing_own,housing_rent,job_high qualif/self emp/mgmt,job_skilled,job_unemp/unskilled non res,job_unskilled resident,own_telephone_none,own_telephone_yes,foreign_worker_no,foreign_worker_yes,class
0,0.220588,0.021459,0.000000,0.000000,0.053571,0.212766,0.615385,0.695644,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,1,0,0,0,0,1,1,0,0,0,0,1,0,0,1,1,0,bad
1,0.823529,0.035930,0.333333,0.333333,0.107143,0.829787,0.153846,0.217426,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,1,0,0,1,0,0,0,0,1,0,1,0,0,1,good
2,1.000000,0.015021,0.333333,0.333333,0.089286,0.382979,0.923077,0.080594,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,1,0,1,0,bad
3,0.750000,0.019533,0.333333,1.000000,0.196429,0.659574,0.000000,0.266535,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0,1,0,0,1,0,0,1,bad
4,0.926471,0.025256,0.333333,0.666667,0.196429,0.340426,0.230769,0.210891,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,1,0,0,0,0,0,1,0,1,1,0,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5045,0.191176,0.022340,1.000000,0.000000,0.500000,0.531915,0.076923,0.109307,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0,1,0,0,0,1,0,0,0,1,0,0,1,0,1,0,1,0,good
5046,0.558824,0.075272,1.000000,0.333333,0.375000,0.680851,0.307692,0.355842,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,1,0,0,0,1,1,0,good
5047,0.558824,0.923682,0.000000,1.000000,0.464286,0.936170,1.000000,0.680396,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,1,0,1,1,0,good
5048,0.147059,0.811984,0.333333,0.333333,0.107143,0.595745,0.307692,0.716832,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0,1,0,0,1,1,0,good
5049,0.338235,0.040773,0.000000,0.000000,0.857143,0.404255,0.000000,0.316634,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,1,0,0,0,0,0,1,0,0,1,1,0,0,0,0,1,1,0,good

In [52]:
from sklearn.model_selection import train_test_split

In [53]:
X_train, X_test, y_train, y_test = train_test_split(final_df2.drop('class', axis=1), final_df2['class'], test_size=0.3, random_state=42)

In [54]:
from sklearn.linear_model import LogisticRegression

In [55]:
lr = LogisticRegression()

In [56]:
lr.fit(X_train, y_train)

LogisticRegression()

In [57]:
lr_pred = lr.predict(X_test)

In [58]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [59]:
print("Accuracy:", accuracy_score(y_test, lr_pred))
print("\nConfusion Matrix:\n", confusion_matrix(y_test, lr_pred))
print("\nClassification Report:\n", classification_report(y_test, lr_pred))

Accuracy: 0.6099009900990099

Confusion Matrix:
 [[ 44 510]
 [ 81 880]]

Classification Report:
               precision    recall  f1-score   support

         bad       0.35      0.08      0.13       554
        good       0.63      0.92      0.75       961

    accuracy                           0.61      1515
   macro avg       0.49      0.50      0.44      1515
weighted avg       0.53      0.61      0.52      1515

In [60]:
from sklearn.ensemble import RandomForestClassifier

In [61]:
rf = RandomForestClassifier()

In [62]:
rf.fit(X_train, y_train)

RandomForestClassifier()

In [63]:
rf_pred = rf.predict(X_test)

In [64]:
print("Accuracy:", accuracy_score(y_test, rf_pred))
print("\nConfusion Matrix:\n", confusion_matrix(y_test, rf_pred))
print("\nClassification Report:\n", classification_report(y_test, rf_pred))

Accuracy: 0.6026402640264027

Confusion Matrix:
 [[ 42 512]
 [ 90 871]]

Classification Report:
               precision    recall  f1-score   support

         bad       0.32      0.08      0.12       554
        good       0.63      0.91      0.74       961

    accuracy                           0.60      1515
   macro avg       0.47      0.49      0.43      1515
weighted avg       0.52      0.60      0.52      1515