In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [38]:
pwd

'/Users/karan'

In [39]:
%cd /Users/karan/Downloads

/Users/karan/Downloads

In [40]:
pwd

'/Users/karan/Downloads'

In [41]:
df = pd.read_csv('cars.csv')

In [42]:
df

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0

In [43]:
df.shape

(432, 15)

In [44]:
df.columns

Index(['Make', 'Model', 'Type', 'Origin', 'DriveTrain', 'MSRP', 'Invoice',
       'EngineSize', 'Cylinders', 'Horsepower', 'MPG_City', 'MPG_Highway',
       'Weight', 'Wheelbase', 'Length'],
      dtype='object')

In [45]:
df.isna().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

In [51]:
df[df.isna().any(axis=1)]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251,Mazda,RX-8 4dr automatic,Sports,Asia,Rear,"$25,700","$23,794",1.3,NaN,197.0,18.0,25.0,3053.0,106.0,174.0
252,Mazda,RX-8 4dr manual,Sports,Asia,Rear,"$27,200","$25,179",1.3,NaN,238.0,18.0,24.0,3029.0,106.0,174.0

In [52]:
df = df.dropna(thresh=9)

In [54]:
df.isna().sum()

Make           0
Model          0
Type           0
Origin         0
DriveTrain     0
MSRP           0
Invoice        0
EngineSize     0
Cylinders      2
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

In [55]:
df[df.isna().any(axis=1)]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
251,Mazda,RX-8 4dr automatic,Sports,Asia,Rear,"$25,700","$23,794",1.3,NaN,197.0,18.0,25.0,3053.0,106.0,174.0
252,Mazda,RX-8 4dr manual,Sports,Asia,Rear,"$27,200","$25,179",1.3,NaN,238.0,18.0,24.0,3029.0,106.0,174.0

In [61]:
df['MSRP'] = df['MSRP'].str.replace('$','').str.replace(',','').astype(int)

/var/folders/4p/p8wlqdd503ngzdh_qs7fn1pw0000gn/T/ipykernel_1407/3288161914.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['MSRP'] = df['MSRP'].str.replace('$','').str.replace(',','').astype(int)
/var/folders/4p/p8wlqdd503ngzdh_qs7fn1pw0000gn/T/ipykernel_1407/3288161914.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['MSRP'] = df['MSRP'].str.replace('$','').str.replace(',','').astype(int)

In [62]:
df.dtypes

Make            object
Model           object
Type            object
Origin          object
DriveTrain      object
MSRP             int64
Invoice         object
EngineSize     float64
Cylinders      float64
Horsepower     float64
MPG_City       float64
MPG_Highway    float64
Weight         float64
Wheelbase      float64
Length         float64
dtype: object

In [64]:
df1 = df[(df['Type'] == 'Sports') & (df['MSRP'] > 25000) &(df.EngineSize > 1.2) & (df.Horsepower > 196)]

In [65]:
df1

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
6,Acura,NSX coupe 2dr manual S,Sports,Asia,Rear,89765,"$79,978",3.2,6.0,290.0,17.0,24.0,3153.0,100.0,174.0
20,Audi,RS 6 4dr,Sports,Europe,Front,84600,"$76,417",4.2,8.0,450.0,15.0,22.0,4024.0,109.0,191.0
22,Audi,TT 1.8 Quattro 2dr (convertible),Sports,Europe,All,37390,"$33,891",1.8,4.0,225.0,20.0,28.0,2921.0,96.0,159.0
23,Audi,TT 3.2 coupe 2dr (convertible),Sports,Europe,All,40590,"$36,739",3.2,6.0,250.0,21.0,29.0,3351.0,96.0,159.0
43,BMW,M3 coupe 2dr,Sports,Europe,Rear,48195,"$44,170",3.2,6.0,333.0,16.0,24.0,3415.0,108.0,177.0
44,BMW,M3 convertible 2dr,Sports,Europe,Rear,56595,"$51,815",3.2,6.0,333.0,16.0,23.0,3781.0,108.0,177.0
46,BMW,Z4 convertible 3.0i 2dr,Sports,Europe,Rear,41045,"$37,575",3.0,6.0,225.0,21.0,29.0,2998.0,98.0,161.0
63,Cadillac,XLR convertible 2dr,Sports,USA,Rear,76200,"$70,546",4.6,8.0,320.0,17.0,25.0,3647.0,106.0,178.0
84,Chevrolet,Corvette 2dr,Sports,USA,Rear,44535,"$39,068",5.7,8.0,350.0,18.0,25.0,3246.0,105.0,180.0
85,Chevrolet,Corvette convertible 2dr,Sports,USA,Rear,51535,"$45,193",5.7,8.0,350.0,18.0,25.0,3248.0,105.0,180.0
105,Chrysler,Crossfire 2dr,Sports,USA,Rear,34495,"$32,033",3.2,6.0,215.0,17.0,25.0,3060.0,95.0,160.0
116,Dodge,Viper SRT-10 convertible 2dr,Sports,USA,Rear,81795,"$74,451",8.3,10.0,500.0,12.0,20.0,3410.0,99.0,176.0
136,Ford,Mustang GT Premium convertible 2dr,Sports,USA,Rear,29380,"$26,875",4.6,8.0,260.0,17.0,25.0,3347.0,101.0,183.0
137,Ford,Thunderbird Deluxe convert w/hardtop 2d,Sports,USA,Front,37530,"$34,483",3.9,8.0,280.0,17.0,24.0,3780.0,107.0,186.0
168,Honda,S2000 convertible 2dr,Sports,Asia,Rear,33260,"$29,965",2.2,4.0,240.0,20.0,25.0,2835.0,95.0,162.0
201,Jaguar,XK8 coupe 2dr,Sports,Europe,Rear,69995,"$63,756",4.2,8.0,294.0,18.0,26.0,3779.0,102.0,187.0
202,Jaguar,XK8 convertible 2dr,Sports,Europe,Rear,74995,"$68,306",4.2,8.0,294.0,18.0,26.0,3980.0,102.0,187.0
203,Jaguar,XKR coupe 2dr,Sports,Europe,Rear,81995,"$74,676",4.2,8.0,390.0,16.0,23.0,3865.0,102.0,187.0
204,Jaguar,XKR convertible 2dr,Sports,Europe,Rear,86995,"$79,226",4.2,8.0,390.0,16.0,23.0,4042.0,102.0,187.0
231,Lexus,SC 430 convertible 2dr,Sports,Asia,Rear,63200,"$55,063",4.3,8.0,300.0,18.0,23.0,3840.0,103.0,178.0
251,Mazda,RX-8 4dr automatic,Sports,Asia,Rear,25700,"$23,794",1.3,NaN,197.0,18.0,25.0,3053.0,106.0,174.0
252,Mazda,RX-8 4dr manual,Sports,Asia,Rear,27200,"$25,179",1.3,NaN,238.0,18.0,24.0,3029.0,106.0,174.0
273,Mercedes-Benz,SL500 convertible 2dr,Sports,Europe,Rear,90520,"$84,325",5.0,8.0,302.0,16.0,23.0,4065.0,101.0,179.0
274,Mercedes-Benz,SL55 AMG 2dr,Sports,Europe,Rear,121770,"$113,388",5.5,8.0,493.0,14.0,21.0,4235.0,101.0,179.0
275,Mercedes-Benz,SL600 convertible 2dr,Sports,Europe,Rear,126670,"$117,854",5.5,12.0,493.0,13.0,19.0,4429.0,101.0,179.0
277,Mercedes-Benz,SLK32 AMG 2dr,Sports,Europe,Rear,56170,"$52,289",3.2,6.0,349.0,17.0,22.0,3220.0,95.0,158.0
299,Mitsubishi,Eclipse GTS 2dr,Sports,Asia,Front,25092,"$23,456",3.0,6.0,210.0,21.0,28.0,3241.0,101.0,177.0
300,Mitsubishi,Eclipse Spyder GT convertible 2dr,Sports,Asia,Front,26992,"$25,218",3.0,6.0,210.0,21.0,28.0,3296.0,101.0,177.0
301,Mitsubishi,Lancer Evolution 4dr,Sports,Asia,Front,29562,"$27,466",2.0,4.0,271.0,18.0,26.0,3263.0,103.0,179.0
315,Nissan,350Z coupe 2dr,Sports,Asia,Rear,26910,"$25,203",3.5,6.0,287.0,20.0,26.0,3188.0,104.0,169.0
316,Nissan,350Z Enthusiast convertible 2dr,Sports,Asia,Rear,34390,"$31,845",3.5,6.0,287.0,20.0,26.0,3428.0,104.0,169.0
332,Pontiac,GTO 2dr,Sports,USA,Rear,33500,"$30,710",5.7,8.0,340.0,16.0,20.0,3725.0,110.0,190.0
335,Porsche,911 Carrera convertible 2dr (coupe),Sports,Europe,Rear,79165,"$69,229",3.6,6.0,315.0,18.0,26.0,3135.0,93.0,175.0
336,Porsche,911 Carrera 4S coupe 2dr (convert),Sports,Europe,All,84165,"$72,206",3.6,6.0,315.0,17.0,24.0,3240.0,93.0,175.0
337,Porsche,911 Targa coupe 2dr,Sports,Europe,Rear,76765,"$67,128",3.6,6.0,315.0,18.0,26.0,3119.0,93.0,175.0
338,Porsche,911 GT2 2dr,Sports,Europe,Rear,192465,"$173,560",3.6,6.0,477.0,17.0,24.0,3131.0,93.0,175.0
339,Porsche,Boxster convertible 2dr,Sports,Europe,Rear,43365,"$37,886",2.7,6.0,228.0,20.0,29.0,2811.0,95.0,170.0
340,Porsche,Boxster S convertible 2dr,Sports,Europe,Rear,52365,"$45,766",3.2,6.0,258.0,18.0,26.0,2911.0,95.0,170.0
364,Subaru,Impreza WRX 4dr,Sports,Asia,All,25045,"$23,022",2.0,4.0,227.0,20.0,27.0,3085.0,99.0,174.0
365,Subaru,Impreza WRX STi 4dr,Sports,Asia,All,31545,"$29,130",2.5,4.0,300.0,18.0,24.0,3263.0,100.0,174.0

In [69]:
np.ceil(df.Cylinders.mean())

6.0

In [72]:
df.Cylinders.fillna(np.ceil(df.Cylinders.mean()), inplace =True)

/var/folders/4p/p8wlqdd503ngzdh_qs7fn1pw0000gn/T/ipykernel_1407/601377333.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Cylinders.fillna(np.ceil(df.Cylinders.mean()), inplace =True)

In [73]:
df.isna().sum()

Make           0
Model          0
Type           0
Origin         0
DriveTrain     0
MSRP           0
Invoice        0
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

In [74]:
df

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945,"$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,"$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,"$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,33195,"$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,"$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,40565,"$38,203",2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,42565,"$40,083",2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,45210,"$42,573",2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,26135,"$24,641",1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,35145,"$33,112",2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0

In [77]:
df['Make'].value_counts()

Toyota           28
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Honda            17
Nissan           17
Volkswagen       15
Chrysler         15
Dodge            13
Mitsubishi       13
Volvo            12
Jaguar           12
Hyundai          12
Subaru           11
Pontiac          11
Mazda            11
Lexus            11
Kia              11
Buick             9
Mercury           9
Lincoln           9
Saturn            8
Cadillac          8
Suzuki            8
Infiniti          8
GMC               8
Acura             7
Porsche           7
Saab              7
Land Rover        3
Oldsmobile        3
Jeep              3
Scion             2
Isuzu             2
MINI              2
Hummer            1
Name: Make, dtype: int64

In [78]:
df.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945,"$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,"$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,"$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,33195,"$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,"$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0

In [79]:
df[(df['Origin']=="Asia") | (df['Origin']=="Europe")]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945,"$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,"$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,"$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,33195,"$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,"$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,40565,"$38,203",2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,42565,"$40,083",2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,45210,"$42,573",2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,26135,"$24,641",1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,35145,"$33,112",2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0

In [82]:
df[df['Origin'].isin(['Asia','Europe'])]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945,"$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,"$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,"$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,33195,"$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,"$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,40565,"$38,203",2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,42565,"$40,083",2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,45210,"$42,573",2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,26135,"$24,641",1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,35145,"$33,112",2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0

In [85]:
df[(df["Weight"] < 4000)]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,"$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,"$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,33195,"$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,"$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
5,Acura,3.5 RL w/Navigation 4dr,Sedan,Asia,Front,46100,"$41,100",3.5,6.0,225.0,18.0,24.0,3893.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,40565,"$38,203",2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,42565,"$40,083",2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,45210,"$42,573",2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,26135,"$24,641",1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,35145,"$33,112",2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0

In [86]:
df['MPG_City'] = df["MPG_City"].apply(lambda x:x+3)

/var/folders/4p/p8wlqdd503ngzdh_qs7fn1pw0000gn/T/ipykernel_1407/3251387263.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['MPG_City'] = df["MPG_City"].apply(lambda x:x+3)

In [87]:
df

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945,"$33,337",3.5,6.0,265.0,20.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,"$21,761",2.0,4.0,200.0,27.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,"$24,647",2.4,4.0,200.0,25.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,33195,"$30,299",3.2,6.0,270.0,23.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,"$39,014",3.5,6.0,225.0,21.0,24.0,3880.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,40565,"$38,203",2.4,5.0,197.0,24.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,42565,"$40,083",2.3,5.0,242.0,23.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,45210,"$42,573",2.9,6.0,268.0,22.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,26135,"$24,641",1.9,4.0,170.0,25.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,35145,"$33,112",2.5,5.0,208.0,23.0,27.0,3823.0,109.0,186.0