In [1]:
pwd

'/Users/karan'

In [2]:
%cd /Users/karan/Downloads

/Users/karan/Downloads

In [3]:
pwd

'/Users/karan/Downloads'

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv('police.csv')
df

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,12/6/2012,17:54,NaN,F,1987.0,25.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
65531,12/6/2012,22:22,NaN,M,1954.0,58.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
65532,12/6/2012,23:20,NaN,M,1985.0,27.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
65533,12/7/2012,0:23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False
65534,12/7/2012,0:30,NaN,F,1985.0,27.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [6]:
df.isnull().sum()

stop_date                 0
stop_time                 0
country_name          65535
driver_gender          4061
driver_age_raw         4054
driver_age             4307
driver_race            4060
violation_raw          4060
violation              4060
search_conducted          0
search_type           63056
stop_outcome           4060
is_arrested            4060
stop_duration          4060
drugs_related_stop        0
dtype: int64

In [7]:
df.drop(columns='country_name' ,inplace=True)

In [8]:
df.head()

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [9]:
df.isna().sum()

stop_date                 0
stop_time                 0
driver_gender          4061
driver_age_raw         4054
driver_age             4307
driver_race            4060
violation_raw          4060
violation              4060
search_conducted          0
search_type           63056
stop_outcome           4060
is_arrested            4060
stop_duration          4060
drugs_related_stop        0
dtype: int64

In [10]:
df.drop(columns='search_type', inplace=True)

In [11]:
df

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,12/6/2012,17:54,F,1987.0,25.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
65531,12/6/2012,22:22,M,1954.0,58.0,White,Speeding,Speeding,False,Warning,False,0-15 Min,False
65532,12/6/2012,23:20,M,1985.0,27.0,Black,Equipment/Inspection Violation,Equipment,False,Citation,False,0-15 Min,False
65533,12/7/2012,0:23,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,False
65534,12/7/2012,0:30,F,1985.0,27.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False

In [12]:
df[df['violation']=='Speeding']

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
6,4/1/2005,17:30,M,1969.0,36.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65527,12/6/2012,15:26,F,1981.0,31.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
65529,12/6/2012,16:00,M,1994.0,18.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
65530,12/6/2012,17:54,F,1987.0,25.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
65531,12/6/2012,22:22,M,1954.0,58.0,White,Speeding,Speeding,False,Warning,False,0-15 Min,False
65534,12/7/2012,0:30,F,1985.0,27.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False

In [13]:
df[df['violation']=='Speeding'].driver_race.value_counts()

White       30186
Black        3658
Hispanic     2062
Asian        1173
Other         125
Name: driver_race, dtype: int64

In [14]:
df[df['violation']=='Speeding'].driver_gender.value_counts()

M    25517
F    11686
Name: driver_gender, dtype: int64

In [15]:
df.groupby(['driver_gender']).search_conducted.sum()

driver_gender
F     366
M    2113
Name: search_conducted, dtype: int64

In [16]:
df.search_conducted.value_counts()

False    63056
True      2479
Name: search_conducted, dtype: int64

In [17]:
2113 + 366

2479

In [18]:
df.dtypes

stop_date              object
stop_time              object
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race            object
violation_raw          object
violation              object
search_conducted         bool
stop_outcome           object
is_arrested            object
stop_duration          object
drugs_related_stop       bool
dtype: object

In [19]:
df.stop_duration.unique()

array(['0-15 Min', '16-30 Min', '30+ Min', nan, '2'], dtype=object)

In [20]:
df.stop_duration.value_counts()

0-15 Min     47379
16-30 Min    11448
30+ Min       2647
2                1
Name: stop_duration, dtype: int64

In [21]:
df['stop_duration']=df['stop_duration'].map({'0-15 Min': (0+15)/2, '16-30 Min': 24, '30+ Min':45, })

In [22]:
df

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,Citation,False,7.5,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,Citation,False,7.5,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,Citation,False,7.5,False
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,Arrest Driver,True,24.0,False
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,Citation,False,7.5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,12/6/2012,17:54,F,1987.0,25.0,White,Speeding,Speeding,False,Citation,False,7.5,False
65531,12/6/2012,22:22,M,1954.0,58.0,White,Speeding,Speeding,False,Warning,False,7.5,False
65532,12/6/2012,23:20,M,1985.0,27.0,Black,Equipment/Inspection Violation,Equipment,False,Citation,False,7.5,False
65533,12/7/2012,0:23,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,False
65534,12/7/2012,0:30,F,1985.0,27.0,White,Speeding,Speeding,False,Citation,False,7.5,False

In [23]:
df.stop_duration.mean()

12.187420698181345

In [24]:
df.stop_duration.isna().sum()

4061

In [25]:
df.stop_duration.fillna(df.stop_duration.mean(), inplace=True)

In [26]:
df.isna().sum()

stop_date                0
stop_time                0
driver_gender         4061
driver_age_raw        4054
driver_age            4307
driver_race           4060
violation_raw         4060
violation             4060
search_conducted         0
stop_outcome          4060
is_arrested           4060
stop_duration            0
drugs_related_stop       0
dtype: int64

In [28]:
df.dtypes

stop_date              object
stop_time              object
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race            object
violation_raw          object
violation              object
search_conducted         bool
stop_outcome           object
is_arrested            object
stop_duration         float64
drugs_related_stop       bool
dtype: object

In [29]:
from datetime import datetime

In [30]:
df.head()

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,Citation,False,7.5,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,Citation,False,7.5,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,Citation,False,7.5,False
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,Arrest Driver,True,24.0,False
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,Citation,False,7.5,False

In [38]:
combined = df['stop_date'] + ' ' + df['stop_time']

In [40]:
df['date_time'] = pd.to_datetime(combined)

In [42]:
df.drop(columns=['stop_time','stop_date'],inplace=True)

In [58]:
df1 = df.columns.tolist()
df1 = df1[-1:] + df1[:-1]
df = df.reindex(columns=df1)
df

,date_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02 01:55:00,M,1985.0,20.0,White,Speeding,Speeding,False,Citation,False,7.500000,False
1,2005-01-18 08:15:00,M,1965.0,40.0,White,Speeding,Speeding,False,Citation,False,7.500000,False
2,2005-01-23 23:15:00,M,1972.0,33.0,White,Speeding,Speeding,False,Citation,False,7.500000,False
3,2005-02-20 17:15:00,M,1986.0,19.0,White,Call for Service,Other,False,Arrest Driver,True,24.000000,False
4,2005-03-14 10:00:00,F,1984.0,21.0,White,Speeding,Speeding,False,Citation,False,7.500000,False
...,...,...,...,...,...,...,...,...,...,...,...,...
65530,2012-12-06 17:54:00,F,1987.0,25.0,White,Speeding,Speeding,False,Citation,False,7.500000,False
65531,2012-12-06 22:22:00,M,1954.0,58.0,White,Speeding,Speeding,False,Warning,False,7.500000,False
65532,2012-12-06 23:20:00,M,1985.0,27.0,Black,Equipment/Inspection Violation,Equipment,False,Citation,False,7.500000,False
65533,2012-12-07 00:23:00,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,12.187421,False
65534,2012-12-07 00:30:00,F,1985.0,27.0,White,Speeding,Speeding,False,Citation,False,7.500000,False

In [59]:
df.dtypes

date_time             datetime64[ns]
driver_gender                 object
driver_age_raw               float64
driver_age                   float64
driver_race                   object
violation_raw                 object
violation                     object
search_conducted                bool
stop_outcome                  object
is_arrested                   object
stop_duration                float64
drugs_related_stop              bool
dtype: object

In [60]:
df.groupby('violation').driver_age.describe()

,count,mean,std,min,25%,50%,75%,max
violation,,,,,,,,
Equipment,6507.0,31.682957,11.380671,16.0,23.0,28.0,39.0,81.0
Moving violation,11876.0,36.736443,13.258350,15.0,25.0,35.0,47.0,86.0
Other,3477.0,40.362381,12.754423,16.0,30.0,41.0,50.0,86.0
Registration/plates,2240.0,32.656696,11.150780,16.0,24.0,30.0,40.0,74.0
Seat belt,3.0,30.333333,10.214369,23.0,24.5,26.0,34.0,42.0
Speeding,37120.0,33.262581,12.615781,15.0,23.0,30.0,42.0,88.0

In [61]:
df.dtypes

date_time             datetime64[ns]
driver_gender                 object
driver_age_raw               float64
driver_age                   float64
driver_race                   object
violation_raw                 object
violation                     object
search_conducted                bool
stop_outcome                  object
is_arrested                   object
stop_duration                float64
drugs_related_stop              bool
dtype: object

In [62]:
df.isna().sum()

date_time                0
driver_gender         4061
driver_age_raw        4054
driver_age            4307
driver_race           4060
violation_raw         4060
violation             4060
search_conducted         0
stop_outcome          4060
is_arrested           4060
stop_duration            0
drugs_related_stop       0
dtype: int64

In [63]:
df.is_arrested.unique()

array([False, True, nan], dtype=object)

In [65]:
df.stop_outcome.value_counts()

Citation            56564
Arrest Driver        2009
Warning              1889
N/D                   423
No Action             339
Arrest Passenger      251
Name: stop_outcome, dtype: int64

In [66]:
df

,date_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02 01:55:00,M,1985.0,20.0,White,Speeding,Speeding,False,Citation,False,7.500000,False
1,2005-01-18 08:15:00,M,1965.0,40.0,White,Speeding,Speeding,False,Citation,False,7.500000,False
2,2005-01-23 23:15:00,M,1972.0,33.0,White,Speeding,Speeding,False,Citation,False,7.500000,False
3,2005-02-20 17:15:00,M,1986.0,19.0,White,Call for Service,Other,False,Arrest Driver,True,24.000000,False
4,2005-03-14 10:00:00,F,1984.0,21.0,White,Speeding,Speeding,False,Citation,False,7.500000,False
...,...,...,...,...,...,...,...,...,...,...,...,...
65530,2012-12-06 17:54:00,F,1987.0,25.0,White,Speeding,Speeding,False,Citation,False,7.500000,False
65531,2012-12-06 22:22:00,M,1954.0,58.0,White,Speeding,Speeding,False,Warning,False,7.500000,False
65532,2012-12-06 23:20:00,M,1985.0,27.0,Black,Equipment/Inspection Violation,Equipment,False,Citation,False,7.500000,False
65533,2012-12-07 00:23:00,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,12.187421,False
65534,2012-12-07 00:30:00,F,1985.0,27.0,White,Speeding,Speeding,False,Citation,False,7.500000,False

In [80]:
df.groupby('driver_age').stop_duration.describe()

             count       mean        std  min     25%    50%     75%   max
driver_age
15.0           5.0  25.800000  18.776981  7.5   7.500  24.00  45.000  45.0
16.0          34.0  18.000000  14.425356  7.5   7.500   7.50  24.000  45.0
17.0         449.0  11.154788   7.929164  7.5   7.500   7.50   7.500  45.0
18.0        1345.0  11.501626   8.570142  7.5   7.500   7.50   7.500  45.0
19.0        2388.0  11.503141   8.357174  7.5   7.500   7.50   7.500  45.0
...            ...        ...        ...  ...     ...    ...     ...   ...
83.0           2.0  26.250000  26.516504  7.5  16.875  26.25  35.625  45.0
84.0           3.0   7.500000   0.000000  7.5   7.500   7.50   7.500   7.5
85.0           1.0   7.500000        NaN  7.5   7.500   7.50   7.500   7.5
86.0           6.0  16.500000  15.443445  7.5   7.500   7.50  19.875  45.0
88.0           2.0  15.750000  11.667262  7.5  11.625  15.75  19.875  24.0

[73 rows x 8 columns]